<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<div class="container">
    <table> 
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
        
        </tr>
        <tr>
            <th>1</th>
            <th>Alejandro</th>
            <th>Gomez</th>
        </tr>
    </table>
</div>


</body>
</html>