certifi
chardet
configparser
coreapi
coreschema
Django
django-dbbackup
django-dbbackup-ui
django-rest-swagger
django-userforeignkey
djangorestframework
djangorestframework-simplejwt
djangosecure
et-xmlfile
future
html5lib
idna
itypes
jdcal
Jinja2
MarkupSafe
openapi-codec
openpyxl
Pillow
psycopg2-binary
pycryptodome
PyJWT
PyPDF2
python-dateutil
pytz
reportlab
requests
simplejson
six
sqlparse
uritemplate
urllib3
webencodings
xhtml2pdf
ipython
