{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">CORE BUSINESS</h3></center>
            <center><h2 class="section-title w-700 mx-auto">"Esencia del Negocio"</h2></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
            <p> LA PRODUCCIÓN Y VENTA DE VEGETALES Y FRUTAS FRESCAS Y CONGELADAS  </p>
              <p> FABRICADAS BAJO ESPECIFICACIONES Y ESTRICTAS NORMAS DE SEGURIDAD Y  </p>
              <p>ENTREGADAS CON UN SERVICIO SUPERIOR A LOS MERCADOS DE MENUDEO DE MARCA  </p>
              <p>PRIVADA, INSTITUCIONAL E INDUSTRIAL DE TODO EL MUNDO.   </p>
                  
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}