{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">FOOD DEFENSE</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 

                     
            <center> <p> EN MAR BRAN S.A. DE C.V. NOS COMPROMETEMOS A PROPORCIONAR A NUESTROS CLIENTES,</p> </center>
            <center> <p> PRODUCTOS QUE SATISFAGAN SUS NECESIDADES, REQUERIMIENTOS Y SUS EXPECTATIVAS,</p> </center>
            <center> <p> ASÍ COMO PROTEGER EN TODO MOMENTO A LOS PRODUCTOS ELABORADOS Y EMPACADOS EN NUESTRAS INSTALACIONES,</p> </center>
            <center> <p> DE CUALQUIER INTENTO DE UN ACTO DELIBERADO CON OBJETIVO DE CAUSAR UNA CONTAMINACIÓN</p> </center>
            <center> <p> QUE PUDIERA AFECTAR NO SOLO AL PRODUCTOS SINO A SUS CONSUMIDORES.</p> </center>
            <center> <p> ESTA PROTECCIÓN SE REALIZA MEDIANTE LA IMPLEMENTACIÓN DE LAS MEDIDAS NECESARIAS</p> </center>
            <center> <p> DE SEGURIDAD Y PROTECCIÓN DE PLANTA, SOPORTADAS POR UN ANÁLISIS DE PELIGROS PARA DETERMINAR ÁREAS VULNERABLES,</p> </center>
            <center> <p> LA IMPLEMENTACIÓN Y MANTENIMIENTO DE UN SISTEMA ¨FOOD DEFENSE¨ FORMAL</p> </center>
            <center> <p> ENFOCADO EN ACTIVIDADES DE MEJORA CONTINUA Y CONSCIENTES DE QUE NUESTRO PERSONAL</p> </center>
            <center> <p> ES LA MÁS VALIOSA FORTALEZA PARA CUMPLIR LAS NORMAS DE SEGURIDAD APLICABLES A NUESTRA EMPRESA.</p> </center>
            
            
            
            
            
            
            
            
            
            

          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}