{% extends 'base/base.html' %}


{% block page_content %}

<h1>Textos Básicos</h1>



 <!-- /.panel-heading -->
 <div class="panel-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">MISION MAR BRAN</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>Revisión Diciembre 2019</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>EL PROPOSITO VITAL DE MAR BRAN ES SU CONSTANTE CRECIMIENTO Y MEJORA CONTINUA 
                    <p>COMO EMPRESA CUYO OBJETIVO PRINCIPAL ES CREAR RIQUEZA SATISFACIENDO: 
                    <p>A SUS ACCIONISTAS CON UN JUSTO RETORNO A SU INVERSION
                    <p>A SUS CLIENTES SIENDO LA MEJOR OPCION EN LA COMBINACION DE CALIDAD, SERVICIO Y PRECIO
                    <p>A LOS REQUERIMIENTOS DE LA COMUNIDAD Y EL MEDIO AMBIENTE CON RESPONSABILIDAD Y SOLIDARIDAD
                    <p></p>p
                    <p>LAS RELACIONES CON LOS CLIENTES, ACCIONISTAS, EMPLEADOS Y COMUNIDAD, DEBERAN 



                    
                    
                </div>
            </div>
        </li>



{% endblock %}

{% block footer %}{% endblock %}