{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">MISIÓN</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
            <p> EL PROPOSITO VITAL DE MAR BRAN ES SU CONSTANTE CRECIMIENTO Y MEJORA CONTINUA</p>
                  <p> COMO EMPRESA CUYO OBJETIVO PRINCIPAL ES CREAR RIQUEZA SATISFACIENDO:</p>
                  <p> A SUS ACCIONISTAS CON UN JUSTO RETORNO A SU INVERSION</p>
                  <p> A SUS CLIENTES SIENDO LA MEJOR OPCION EN LA COMBINACION DE CALIDAD, SERVICIO Y PRECIO</p>
                <p> A LOS REQUERIMIENTOS DE LA COMUNIDAD Y EL MEDIO AMBIENTE CON RESPONSABILIDAD Y SOLIDARIDAD</p>
            <p> LAS RELACIONES CON LOS CLIENTES, ACCIONISTAS, EMPLEADOS Y COMUNIDAD, DEBERAN</p>
            <p> SER SIEMPRE HONESTAS, JUSTAS, RESPONSABLES Y MORALES.</p>
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}