{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">POLÍTICA DE CALIDAD</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <p> EN MAR BRAN S.A. DE C.V. NOS COMPROMETEMOS A PROPORCIONAR A NUESTROS CLIENTES</p>
              <p> PRODUCTOS QUE SATISFAGAN SUS NECESIDADES, REQUERIMIENTOS Y SUS EXPECTATIVAS DE CALIDAD E INOCUIDAD, </p>
              <p> LA PLENA SATISFACCIÓN DE SUS CLIENTES.</p>
              <p> EL DARLE SENTIDO Y VALOR AL TRABAJO BIEN HECHO.</p>
              <p> EL COMPROMISO EN EL LOGRO DE LOS OBJETIVOS DE LA CORPORACIÓN PARA ASEGURAR SU PERMANENCIA.</p>
              <p> EL CRECIMIENTO Y LA MEJORA CONTINUA DE SU PERSONAL.</p>
              <p> LA CAPACIDAD DE INNOVAR Y DE RESPONDER DE FORMA EFECTIVA A LOS CAMBIOS Y RETOS DEL ENTORNO.</p>
              <p> HONESTIDAD, UNIDAD EN LA DIVERSIDAD, JUSTICIA, RESPONSABILIDAD, LABORIOSIDAD Y PERSISTENCIA.</p>
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}