{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">POLÍTICA DE CALIDAD</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <center> <p> EN MAR BRAN S.A. DE C.V. NOS COMPROMETEMOS A PROPORCIONAR A NUESTROS CLIENTES</p> </center>
              <p> PRODUCTOS QUE SATISFAGAN SUS NECESIDADES, REQUERIMIENTOS Y SUS EXPECTATIVAS DE CALIDAD E INOCUIDAD, </p>
              <p> MEDIANTE LA IMPLEMENTACIÓN Y MANTENIMIENTO  DEL SISTEMA DE GESTIÓN DE CALIDAD FORMAL,</p>
              <p> ENFOCADOS EN LA MEJORA CONTINUA DE LOS PROCESOS Y PRODUCTOS;</p>
              <p> CONSCIENTES DE QUE NUESTRO PERSONAL ES LA MÁS VALIOSA FORTALEZA</p>
              <p> PARA CUMPLIR LAS NORMAS DE CALIDAD, INOCUIDAD Y AMBIENTALES APLICABLES A NUESTRA EMPRESA.</p>
              >
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}