{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">PROPUESTA DE VALOR AL CLIENTE</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <p> - UTILIDADES NETAS SOBRE LAS VENTAS IGUALES O SUPERIORES AL 5 %.</p>
              <p> - CRECIMIENTO MODERADO. </p>
              <p> - PERMANENCIA Y SUSTENTABILIDAD DEL NEGOCIO A LARGO PLAZO. </p>
              <p> - DIVIDENDOS.	</p>
              
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}