{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">PROPUESTA DE VALOR A LOS ASOCIADOS</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <p> - SALARIOS COMPETITIVOS.</p>
              <p> - BONOS SOBRE RESULTADOS Y/O PRODUCTIVIDAD SUPERIORES A LA INDUSTRIA	</p>
              <p> - UNA EXPERIENCIA Y AMBIENTE FAVORABLES DE TRABAJO.
              <p> - CRECIMIENTO COMO PERSONAS EN SUS CONOCIMIENTOS TÉCNICOS Y ÉTICOS.	</p>
              
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}