{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">VALORES</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <p> EL TRABAJO EN EQUIPO EN UN AMBIENTE DE RESPETO, CONFIANZA, PARTICIPACIÓN Y TRATO DIGNO  </p>
              <p> LA EDUCACIÓN DE SUS TRABAJADORES PARA QUE ESTOS MEJOREN SUS HABILIDADES TÉCNICAS, SU CULTURA Y CALIDAD COMO PERSONAS. </p>
              <p> LA PLENA SATISFACCIÓN DE SUS CLIENTES.</p>
              <p> EL DARLE SENTIDO Y VALOR AL TRABAJO BIEN HECHO.</p>
              <p> EL COMPROMISO EN EL LOGRO DE LOS OBJETIVOS DE LA CORPORACIÓN PARA ASEGURAR SU PERMANENCIA.</p>
                  
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}