{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">PROPUESTA DE VALOR AL CLIENTE</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
              <p> PRECIO COMPETITIVO EN TODOS LOS SEGMENTOS DE MERCADO (MENUDEO,  INSTITUCIONAL E INDUSTRIAL)</p>
              <p> CONFIABILIDAD EN LA ENTREGA Y EXCELENCIA EN EL SERVICIO AL CLIENTE	</p>
              <p> PRODUCTO SEGURO, DE CALIDAD CONFIABLE Y DE ACUERDO A LAS ESPECIFICACIONES DE LOS CLIENTES, RESPALDADO POR SISTEMAS FORMALES DE  CONTROL, REGISTRO Y RASTREO.</p>
              <p> OFERTA DE UNA IMPORTANTE VARIEDAD DE PRODUCTOS Y EMPAQUES.</p>
              
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}