{% extends 'base/base.html' %}


{% block page_content %}

 <!-- /.panel-heading -->   
      <div class="container">
        <div class="row text-center justify-content-center mb-3">
          <div class="col-lg-14 mb-6 text-left">
            <center><h3 class="section-title w-700 mx-auto">VISIÓN</h3></center>
           <center> <h1 class="section-title w-300 mx-auto">MAR BRAN</h1></center>
             <center><p style="color:blue;">Revisión Diciembre 2019</p></center> 
            <p> SER UNA EMPRESA DE CLASE MUNDIAL. LA MEJOR EN SU SEGMENTO DE MERCADO. </p>
              <p> FORMADA DE GENTE DE CARÁCTER, MOTIVADA, RESPONSABLE, COMPETENTE Y COMPROMETIDA </p>
              <p>QUE LOGRE UNA EXPLOSIÓN DE ÉXITO HACIENDO LO ORDINARIO DE FORMA EXTRAORDINARIA. </p>
                  
          </div>
        </div>
      </div>
    </div>
  



{% endblock %}

{% block footer %}{% endblock %}