{% extends 'base/base.html'%}
{% block page_content %}
    <form method="post" id="frmProduccion">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if encabezado %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if encabezado %} Editar {% else %} Nueva {% endif %} Produccion Embolsados y WP
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <!-- Inicio Izquierda -->
                                    <div class="col-6">
                                        <!-- Inicio Encabezado -->
                                        <div class="form-group row">
                                            <label for="id_planta" class="col-sm-2 col-form-label">Planta:</label>
                                            <div class="col-sm-10">
                                               {{ form_enc.planta }} 
                                            </div>
                                        </div>
                                 
                                            <div class="form-group row">
                                                <label for="id_linea" class="col-sm-2 col-form-label">Linea:</label>
                                                <div class="col-sm-10">
                                                    
                                                   {{ form_enc.linea }} 
                                                </div>
                                            </div>
                                 
                                            <div class="form-group row">
                                                    <label for="id_turno" class="col-sm-2 col-form-label">Turno:</label>
                                                    <div class="col-sm-10">                       
                                                       {{ form_enc.turno }} 
                                                    </div>
                                                </div>

                                           
                                                    <label for="id_supervisor" class="col-sm-3 col-form-label">Supervisor:</label>
                                                    <div class="col-sm-10">
                                                       {{ form_enc.supervisor }} 
                                                    </div>
                                             
                                                  
                                                        <label for="id_operador" class="col-sm-3 col-form-label">Operador:</label>
                                                        <div class="col-sm-10">
                                                           {{ form_enc.operador }} 
                                                        </div>

                                                        <label for="id_plantilla" class="col-sm-3 col-form-label">Plantilla:</label>
                                                        <div class="col-sm-10">
                                                           {{ form_enc.plantilla }} 
                                                        </div>

<div class="form-group row">
                                
<div class="col-sm-5"></div>
</div>
                               
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="id_fecha_produccion">Fecha Produccion:</label>
                                                    {{form_enc.fecha_produccion}}
                                                </div>
                                                
                                                <!-- <div class="form-group">
                                                    <label for="id_descripcion">Descripción:</label>
                                                        {{form_enc.observacion}}
                                                    </div> -->
                                                    <div class="col">
                                                    <label for="total_produccion">Total Produccion:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_enc.total_produccion }}
                                                    </div>
                                               

                                               
                                                    <div class="col">
                                                    <label for="total_produccion">Total Utilizado:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_enc.total_utilizado }}
                                                        </div>
                                                    

                                               
                                                    <div class="col">
                                                    <label for="total_produccion">Merma (%):</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_enc.total_merma }}
                                                       </div>

                                                       
                                                     <br>
                                            </div>
                                             <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_descripcion">Observaciones:</label>
                                                    {{ form_enc.observaciones }}
                                                </div>
                                                
                                             <div class="col">
                                                            <label for="total_produccion">Hoja TM:</label>
                                                            </div>
                                                            <div class="col">
                                                                    {{ form_enc.ftm }}
                                                               </div>

                                                               <div class="col">
                                                                    <label for="total_produccion">Hoja PROD:</label>
                                                                    </div>
                                                                    <div class="col">
                                                                            {{ form_enc.fpr }}
                                                                       </div>
                                                

                                            </div>

                                            
                                        </div>
                                        <!-- Fin Encabezado -->
                                    </div>
                                    <!-- Fin Izquierda -->

                                    

                                    <!-- Inicio Derecha -->
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                                <table class="table table-striped table-hover dt-responsive table-sm nowrap tbl-productos" style="width:100%">
                                                    <thead>
                                                        <th>Id</th>    
                                                        <th class="all">id prod</th>    
                                                        <th class="all">Descripción</th>
                                                        <th class="all">Peso</th>
                                                        <th class="all">Acciones</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in productos %}
                                                        <tr>
                                                        <td> {{ item.id_producto }}</td>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.descripcion_prod }}</td>
                                                        <td>{{ item.peso_caja }}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning btn-circle"
                                                            onclick="selectProducto({{item.id}},'{{item.descripcion_prod}}',{{item.peso_caja}})" ><i class="far fa-hand-pointer"></i></button>
                                                        </td>
                                                        </tr>
                                                        {% endfor %}
                                                      </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_id_producto" class="col-form-label">Producto</label>
                                            
                                            <div class="col-sm-2">
                                                <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                            </div>
                                            
                                            <div class="col-sm-7">
                                                <input type="text" readonly class="form-control-plaintext" id="id_descripcion_producto" value="" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                                  <label for="id_tproducto" class="col-sm-2.1 col-form-label">Tipo Producto</label>
                                                 <div class="col-sm-4">
                                                 <select type="text" step="any" class="form-control" name="id_tproducto" id="tproducto" required>
                                                          <option value="TERMINADO">TERMINADO</option>
                                                          <option value="PROCESO">PROCESO</option>
                                                 </select>
                                                 <!--  <input type="text" step="any" class="form-control" name="id_tproducto" id="id_tproducto" value="TERMINADO" required>-->
                                                 </div>
			                
					                              <label for="id_cantidad_detalle" class="col-sm-1.4 col-form-label">Cajas:</label>
                                        
                                                <div class="col-sm-3">
                                                <input type="number" step="any" class="form-control" name="id_cantidad_detalle" id="id_cantidad_detalle" value="0" required>
                                                </div>
                                        </div>
                                       
                                       <div class="form-group row">
                                            <label for="id_peso_detalle" class="col-sm-2.1 col-form-label">Peso:</label>
                                            
                                            <div class="col-sm-3">
                                                <input type="number" step="any" class="form-control" name="id_peso_detalle" id="id_peso_detalle" value="0" required>
                                            </div> 
                                       
                                            <label for="id_resto_detalle" class="col-form-label">Resto:</label>
                                                <div class="col-sm-6">
                                                    <input type="number" step="any" class="form-control col-sm-5" name="id_resto_detalle" id="id_resto_detalle" value="0" >
                                                </div> 
                                      </div>
                                           
                                      <div class="form-group row">
                                         <label for="id_total_detalle" class="col-form-label">Total Prod:</label>         
                                            <div class="col-sm-3">
                                              <input type="number" step="any"  readonly class="form-control col-sm-10" name="id_total_detalle" id="id_total_detalle" value="0">
                                            </div> 
                                         <label for="id_total_utilizado" class="col-form-label">Total Utilizado:</label>
                                            <div class="col-sm-3">
                                              <input type="number" step="any" class="form-control col-sm-10" name="id_total_utilizado" id="id_total_utilizado" value="0">
                                             </div>
                                     </div>
                                            
                                      <div class="form-group row">
                                            <label for="id_velocidad_detalle" class="col-form-label">velocidad (bpm):</label>
                                            <div class="col-sm-4">
                                                <input type="number" step = "any" class="form-control  col-sm-8" name="id_velocidad_detalle" id="id_velocidad_detalle" value="0" >
                                            </div>
                                            
                                            
                                            <!-- <label for="id_merma_detalle" class="col-sm-2 col-form-label">Merma:</label>
                                            <div class="col-sm-3">
                                                <input type="number" readonly class="form-control-plaintext col-sm-10" name="id_merma_detalle" id="id_merma_detalle" value="00">
                                            </div> -->
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-sm col-sm-2" onclick="clear_Detail();"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                                            </div>	
                                        </div>
                                        <!-- Botones -->
                                        <div class="dropdown-divider"></div>
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                                <a href="{% url 'salidas:produccion_list' %}" class="btn btn-success"><i class="far fa-hand-point-left"></i> Cancelar</a>
                                            </div>
                                        </div>
                                        <!-- Fin Botones -->
                                    </div>
                                    <!-- Fin Derecha -->
                                </div>
                                </div>
                                </div>
                </div>
                                
                                
                                <!-- Inicio Detalle -->
                                <div class="form-group row">
                                        <div class="col-sm-10">                                    <div class="row">
                                        <div class="col">
                                            <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                                                <thead>
                                                    <th>Producto</th>        
                                                    <th>Cajas/Totes</th>
                                                    <th>Peso (lbs)</th>
                                                    <th>Total Produccion (lbs)</th>
                                                    <th>Total Utilizado (lbs)</th>
                                                    <th>Total Merma (lbs)</th>
                                                    <th class="all">Acciones</th>
                                                </thead>
                                                <tbody>
                                                    {% for item in detalle %}
                                                    <tr>
                                                    <td>{{ item.producto }} </td>
                                                    <td>{{ item.cantidad }}</td>
                                                     <td>{{ item.peso }}</td>
    
                                                    <td>{{ item.total_produccion }}</td>
                                                    <td>{{ item.total_utilizado }}</td>
                                                    <td>{{ item.total_merma }}</td>
                                                    
                                                    <td>
                                                        <button class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'salidas:produccion_del' encabezado.pk item.id %}')"><i class="fas fa-trash-alt"></i></button>
                                                    </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                        </div>
                                    <!-- Fin Detalle -->
                                </div>
                                
                            </div>
                        </div>
                </div>
        </div>
    </form>
{% endblock %}
{% block js_page %}
<script> 
    $(function () {
        $("#id_fecha_produccion, #id_fecha_produccion").datetimepicker({
            format: 'Y-m-d',
            timepicker:false,
            datepicker:true
        });
        
        $("#sidebarToggle").click();
        $('.table').DataTable({
            "pageLength": 5,
            "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "<span class='fa fa-angle-double-left'></span>",
                "sLast": "<span class='fa fa-angle-double-right'></span>",
                "sNext": "<span class='fa fa-angle-right'></span>",
                "sPrevious": "<span class='fa fa-angle-left'></span>"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
            }
        });
        $('#id_cantidad_detalle,#id_peso_detalle,#id_resto_detalle').change(function(){
            calcular_detalle();
        });

        $('#id_total_detalle,#id_total_utilizado').change(function(){
            calcular_merma();
        });

        /*Validar Envío de Detalle */
        $("#frmProduccion").submit(function(e){
            if($('#id_total_detalle').val()==0 || $('#id_id_producto').val()==0 ){
                e.preventDefault();
                //alert("No ha agregado producto o está sin cantidades");
                $.alert({
                        type:'red',
                        title:'',
                        content:'No ha agregado producto o está sin cantidades'
                        })
            }
        });
        /*Fin Validar Envío de Detalle */
        });
    
        function selectProducto(id,descripcion_prod,peso_caja)
    {
        $("#id_cantidad_detalle").val(0);
        $('#id_total_detalle').val(0);
        $('#id_peso_detalle').val(0)
        $('#id_total_utilizado').val(0);
        $('#id_merma_detalle').val(0);
        $('#id_resto_detalle').val(0);
        $('#id_peso_detalle').val(peso_caja)
        $("#id_id_producto").val(+id);
        $('#id_descripcion_producto').val(descripcion_prod);
        $('#id_tproducto').val(tproducto);

        $('#id_cantidad_detalle').select();
        $('#id_cantidad_detalle').focus();
        $('.table').DataTable().search('').draw();
    }

    function calcular_detalle()
    {
        var cant,peso,resto,total, utilizado;

        cant = $("#id_cantidad_detalle").val();
        cant = cant==="" ? 0 : +cant;
        cant = cant<0 ? 0 : cant;

        peso =$('#id_peso_detalle').val();
        peso = peso==="" ? 0 : +peso;
        peso = peso<0 ? 0 : peso;

        resto =$('#id_resto_detalle').val();
        resto = resto==="" ? 0 : +resto;
        resto = resto<0 ? 0 : resto;



        total = (cant * peso)+resto;
        total = total.toFixed(1)

        
        
        $('#id_cantidad_detalle').val(cant);
        $('#id_peso_detalle').val(peso);
        $('#id_total_detalle').val(total);
    }

    function calcular_merma()
    {
        var total, utilizado, merma;

        total  =$('#id_total_detalle').val();
        total = total==="" ? 0 : +total;
        total = total<0 ? 0 : total;

        utilizado  =$('#id_total_utilizado').val();
        utilizado = utilizado==="" ? 0 : +utilizado;
        utilizado = utilizado<0 ? 0 : total;
        merma = total / utilizado ;

        $('#id_merma_detalle').val(merma);
    }

    function clear_Detail(){
        $('#id_cantidad_detalle').val(0);
        $('#id_peso_detalle').val(0);
        
        
        $('#id_total_detalle').val(0);
        $('#id_total_utilizado').val(0);
        
        $('#id_merma_detalle').val(0);
        $('#id_producto').val('');
        $('#id_descripcion_producto').val('');
        $('#id_id_tproducto').val('');
        $('.table').DataTable().search('').draw();
        $("#id_planta").focus();
    }
    $("#id_planta").focus();
</script>
{% endblock %}
