{% extends 'base/base.html' %}

{% block page_content %}

<head>
    <title>My pathpage!</title>
</head>
<body>
    <h1>Encabezado!</h1>
    <ul>
{% for encabezado in encabezados %}
    <li>{{ encabezado.property1 }}</li>
{% endfor %}
    </ul>

    <h1>detalles!</h1>
    <ul>
{% for detalle in detalles %}
    <li>{{ detalle.property1 }}</li>
{% endfor %}

{% for detalle in nomina %}   # should be called 'bars' in the context, really
  {{ detalle }}            # will render str(b)
  {{ b.id }}         # properties, fields
  {{ b.get_stuff }}  # callables without parentheses
{% endfor %}
    </ul>
</body>

{% endblock %}
